<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>
        <%= title %>
    </title>
    <%- include('../shared/head') %>
</head>

<body>
    <header>
        <div class="logo-container">
            <h1>
                Scale Shred UNO!
            </h1>
        </div>
    </header>
    <main>
        <form id="login-form" action="/auth/login" method="post">
            <h2>Log In</h2>

            <% if (locals.error && error) { %>
                <p class="error-message">
                    <%= error %>
                </p>
                <% } %>
                    <div class="form-item">
                        <label for="identifier">Email or Username</label>
                        <input type="text" name="identifier" id="identifier" required placeholder="Email or Username" <%
                            if(locals.identifier && identifier) { %>
                        value="<%= identifier %>"
                            <% } %>
                                />
                    </div>

                    <div class="form-item">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Password" required />
                    </div>

                    <div class="form-button">
                        <button class="submit-button" type="submit">Login</button>
                        <button class="reset-button" type="reset">Clear</button>
                    </div>

                    <div class="form-item">
                        <a href="/auth/register">Don't have an account? Register Here!</a>
                    </div>
        </form>
    </main>
</body>

</html>