<div class="main-nav">
    <ul>
        <li class="splash-button">
            <a href="/auth/login">Join Game Here!</a>
        </li>
        <li class="splash-button">
            <a href="/auth/register">Sign Up to Play!</a>
        </li>
    </ul>
</div>