<div class="card-container">
    <ul class="hand">
        <li>
            <img class="cards" src="/cards/back/card.png" />
        </li>
        <li>
            <img class="cards" src="/cards/back/card.png" />
        </li>
        <li>
            <img class="cards" src="/cards/back/card.png" />
        </li>
        <li>
            <img class="cards" src="/cards/back/card.png" />
        </li>
        <li>
            <img class="cards" src="/cards/back/card.png" />
        </li>
        <li>
            <img class="cards" src="/cards/back/card.png" />
        </li>
        <li>
            <img class="cards" src="/cards/back/card.png" />
        </li>
    </ul>
</div>