<div class="card-container">
    <ul class="hand">
        <li>
            <img class="cards" src="/cards/blue/0.png" />
        </li>
        <li>
            <img class="cards" src="/cards/blue/7.png" />
        </li>
        <li>
            <img class="cards" src="/cards/red/2.png" />
        </li>
        <li>
            <img class="cards" src="/cards/yellow/1.png" />
        </li>
        <li>
            <img class="cards" src="/cards/yellow/8.png" />
        </li>
        <li>
            <img class="cards" src="/cards/yellow/3.png" />
        </li>
        <li>
            <img class="cards" src="/cards/wild/plus_four.png" />
        </li>
    </ul>
</div>