<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
    </title>
    <%- include('shared/head') %>
</head>

<body>
    <header>
        <div class="logo-container">
            <h1>
                Scale Shred UNO!
            </h1>
        </div>
    </header>
    <main>
        <div id="container">
            Game page <%= gameId %>
                <form action="/games/leave/<%= gameId %>" method="post">
                    <button type="submit">Leave</button>
                </form>
                <ul id="player-list">
                    <% if (players && players.length> 0) { %>
                        <% players.forEach(player=> { %>
                            <li>
                                <%= player.username %>
                            </li>
                            <% }); %>
                                <% } else { %>
                                    <li>No players currently in the lobby.</li>
                                    <% } %>
        </div>
    </main>
</body>

</html>