<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Uno Lobby</title>
        <%- include('shared/head') %>
    </head>
    <body>
        <div id="container">
            <h1>
                <img class="gravatar" src="https://www.gravatar.com/avatar/<%= user.gravatar %>?s=32&d=monsterid" />
                Welcome <%= user.username %>
            </h1>
            Game page <%= gameId %>
        </div>
    </body>
</html>