<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/main.css">
        <!--<script src="/js/chat/index" defer></script> -->
    </head>
    <body>
        <header>
            <h1><a id="home-button" href="/">Scale Shred UNO</a></h1>
        </header>
        <%- include('shared/guestMenu') %>
    </body>
</html>