<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- title should be in tab header, not in app frame. -->
        <title><%= title %></title>
        <link rel='stylesheet' href='/css/style.css'/>
    </head>
    <body>
        <p>Hello <%= name %></p>
    </body>
</html>